.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 100%;
}

.box1 {
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  margin: 10px;
  border: 5px solid white;
}

.box2 {
  width: 150px;
  height: 150px;
  background-color: rgb(246, 158, 17);
  margin: 10px;
  border: 5px solid white;
}

.box2:hover {
  transform: scale(2, 2);
}