html::before,
html::after {
  --s: 80px; /* control the size */
  
  content: "";
  position: absolute;
  inset: 0;
  background:
    repeating-linear-gradient(var(--_a,45deg),#C02942 0 calc(100%/13),#542437 0 calc(200%/13))
    0 0/var(--s) var(--s)
}
html::after {
  --_a: -45deg;
  -webkit-mask: 
    repeating-conic-gradient(#000 0 25%,#0000 0 50%) 
    0 0/calc(2*var(--s)) calc(2*var(--s));
}